body {
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.container{
    max-width: 550px;
    margin: auto;
    background-color: aquamarine;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}