{% extends "base/base.html" %}

{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin: 0;">There are <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
    </div>
    {% if request.user.is_authenticated %}

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
    {%else%}
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

</div>
<form method="GET" id="form1">
    <div class="input-group">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" id="form1" class="form-control" name="search-area" value="{{search_input}}" />
            
            <label for="form1" class="form-label">Search</label>
            
        </div>
        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

<!-- <a href="{% url 'task-create' %}">Create a Task</a>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Submit">
</form> -->

<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        <ul class="list-group">

            {% if task.complete%}
            <li class="list-group-item d-flex"><i><s><a href="{% url 'task-update' task.id %}"> {{task}} </a></s></i>

                {%else%}
            <li class="list-group-item"> <a href="{% url 'task-update' task.id %}"> {{task}} </a>
                <a class="pull-right" style="float: right;" href="{% url 'task-delete' task.id %}">Delete</a>
            </li>

            {% endif %}
        </ul>
    </div>

    {% empty %}
    <h3>No items here</h3>
    {% endfor %}


</div>


{% endblock %}